<header class="site-header" role="banner">

  <div class="wrapper-header">
    <div class="nav-container">
      <div class="wrapper-nav">
      <a style="width:25%" class="site-title" href="{{ '/' | relative_url }}"><img src="images/logo.png"></a>

      <nav class="site-nav">
        <div class="trigger">
          {% for lesson in site.pages %}
            {% if lesson.nav == true %}
            <a class="page-link{% if page.url == lesson.url %} active{% endif %}" href="{{ lesson.url | relative_url }}">{{ lesson.title | escape }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
      </div>
    </div>
    <div class="image-container">
      <img src="images/city.png">
      <div class="overlay-text">
          <h1>First Workshop on the Interplay of Model Behavior and Model Internals</h1>
          <h2>A Workshop at the Conference for Language Modeling (COLM ‘25)</h2>
      </div>
    </div>
  </div>

</header>
