.toc {
    padding: 10px;
    margin: 15px;
    border: solid 1px $grey-color-light;
    border-radius: 5px;
}
.site-nav .active, .site-footer .active {
    text-decoration: underline;
    color: $active-color;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    opacity: 0.5;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}

.overlay-text h2 {
    font-size: 1em;
    container-name: sidebar
}